<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

hello ~! 


<form action="abcd" method="get">
  email: <input type="string" name="email"><br>
  password: <input type="password" name="password"></br>
  datetime: <input type="datetime" name="datetime"></br>
  
  <input type="submit" value="Submit">
</form>