<div class="intro">
	<div class="dim"></div>
	<div class="header">
		<div class="header_wrap">
			<div class="float_wrap">
				<ul>
						<li><a href="https://www.facebook.com/%EB%B0%A9%EA%B8%88-%EA%B7%B8-%EC%82%AC%EB%9E%8C-%EB%B0%A9%EA%B8%8B-Bangood-258300577855631/timeline" rel="external">Facebook</a></li>
						<li><a href="#" rel="external">Instagram</a></li>
						<li><a href="mailto:Info@starinmedia.net" rel="external">Contact</a></li>
						<li><a href="#aboutus">About</a></li>
				</ul>
			</div> <!-- end float_wrap> -->
		</div> <!-- end header_wrap -->
	</div> <!-- end header -->




	<div class="intro_main">
		<div class="introduce">
					<div class="bg_pic"></div>
					<div class="desc_text"><p></p></div>
					<div id=aboutus class="aboutus">
							Team Bangood</br>
			Oh simin /Park sunghwan /Koo Kyoseung /Park sungyoung<br>
		<br><br><br><br><br>	
					</div>
					
						
		</div>
	</div>


	<div class="footer">
			 방긋 사업자 등록번호 : 통신판매업신고번호 : 주소 : 이메일 : 
	</div>

</div> <!-- end intro -->
