/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/assets/nanumbarungothic.eot?#iefix') format('embedded-opentype'),
         url('/assets/nanumbarungothic.woff') format('woff'),
         url('/assets/nanumbarungothic.ttf') format('truetype'),
         url('/assets/nanumbarungothic.svg') format('svg');
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('/assets/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/montserrat-regular.woff') format('woff'),
         url('/assets/montserrat-regular.ttf') format('truetype'),
         url('/assets/montserrat-regular.svg') format('svg');
}

